.fa-angle-double-left{
  font-size: 30px;
  color: gray;
  margin: 4px 8px 0 0;
}

.fa-pencil-alt{
  font-size: 23px;
  color: #354255;
}

a {
  text-decoration: none;
}

.fa-trash-alt{
  font-size: 23px;
  color: #354255;
}
