<div class="container mt-5">
<h3> Orders </h3>
<div class="card-trip-index">
  <img src="https://raw.githubusercontent.com/lewagon/fullstack-images/master/uikit/greece.jpg" />
  <div class="card-trip-infos">
    <div>
      <p>Short description here!</p>
    </div>
    <h2 class="card-trip-pricing">£99.99</h2>
  </div>
</div>

<% @lecture.orders.each do |order| %>
  <div class="container">
    <div class="row py-3">
      <div class="col-6">
        <p><%= order.lecture.title %></p>
        <p><%= order.lecture.description %></p>
      </div>
    </div>
    <%#= link_to 'delete', order_path(order), method: :delete, data: { confirm: 'Are you sure?' }, class: "btn btn-secondary" %>
  </div>
<% end %>
