<div class="banner"  style="background-image: linear-gradient(rgba(0,0,0,0.3), rgba(0,0,0,0.3)), url(<%= image_path("homepage.jpg") %>)">
  <div class="container">
    <h1><strong>Hobbyshare To Creative People</strong>!</h1>
  </div>
</div>

<div class="text-center mt-5 mb-5">
  <h1><strong>Discover Your New Hobby</strong></h1>
    <%= link_to "Learn more about", lectures_path, class: "btn btn-primary mt-3" %>
</div>
