.banner_index {
  display: flex;
  align-items: center;
  background-size: cover;
  background-position: center;
  height: 70vh;
  justify-content: flex-start;
  padding: 100px;
}

.banner_index h1 {
  margin: 0;
  color: white;
  text-shadow: 1px 1px 3px rgba(0,0,0,0.2);
  font-size: 32px;
  font-weight: bold;
}

.banner_index p {
  font-size: 20px;
  color: white;
  opacity: .7;
  text-shadow: 1px 1px 3px rgba(0,0,0,0.2);
}

@media (min-width: 540px) {
  .banner_index {
    min-height: 70vh;
  }
}
