.box-description {
  background: white;
  box-shadow: 0 0 15px rgba(0,0,0,0.2);
}

.box-description h1 h2 h3 {
  font-size: 16px;
  font-weight: bold;
  margin: 0;
  text-decoration: none;
}

.box-description {
  font-size: 12px;
  opacity: .7;
  margin: 0;
  height: 320px;
}
