.background {
  background: repeating-radial-gradient(circle, transparent, transparent 8.8px, #ece5c7 8.8px, #ece5c7 11.3px), repeating-radial-gradient(circle, transparent, transparent 8.8px, #cdc2ae 8.8px, #cdc2ae 11.3px), #c2ded1;
  background-size: 50px 50px;
  background-position: 0 0, 25px 25px, 50px 25px;
  background-color: #c2ded1;
}
//não mexer no conteúdo das linhas 2 à 5 (desconfigura o background do site)
.create-form {
  background: rgb(253, 253, 253);
  padding: 16px 20px;
  margin: 50px 0;
  border-radius: 8px;
  box-shadow: 2px 2px 3px rgba(0,0,0,0.2);
  border-radius: 8px;
}
  h2 {
    font-size: 25px;
    font-weight: bold;
    margin-bottom: 30px;
    text-align: center;
  }
  .btn {
    width: 100%;
    margin-bottom: 20px;
    border-radius: 5px;
  }
