.container-form {
  background: repeating-radial-gradient(circle, transparent, transparent 15.7px, #c2c7c6 15.7px, #c2c7c6 20.3px), repeating-radial-gradient(circle, transparent, transparent 15.7px, #cdc2ae 15.7px, #cdc2ae 20.3px), #ece5c7;
  background-size: 90px 90px;
  background-position: 0 0, 45px 45px, 90px 45px;
  background-color: #ece5c7;
}
.form-login {
  background: white;
  padding: 16px 20px;
  margin: 50px 0;
  border-radius: 5px;
  box-shadow: 1px 1px 2px rgba(0,0,0,0.1);
  h2 {
    font-size: 25px;
    font-weight: bold;
    margin-bottom: 30px;
    text-align: center;
  }
  .btn {
    width: 100%;
    margin-bottom: 20px;
  }
}
