<!DOCTYPE html>
<html>
  <head>
    <title>HobbyShare</title>
    <meta name="description" content= "page description.....">
    <meta chaeset="uft-8">
  </head>
  <body>
    <h1>HobbyShare</h1>
    <div class="navbar-class">
      <div class="container"></div>
    </div>
  </body>


</html>
